.post-item,
.post {
  display: flex;
  .image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-size: cover;
    @include imageborder();
  }
  .content {
    .metainfo {
      color: grey;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    h2 {
      margin: 0.3rem 0;
      font-size: 1.3rem;
      a {
        color: black !important;
      }
    }
    .intro {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

.guest{
  display: flex;
  align-items: center;
  margin: 1rem 0;      
  .guest-image{
    width: 48px;
    height: 48px;
    margin: 0;
    margin-right: .5rem;
    background-size: cover;
    @include imageborder();
  }
  .guest-info{
    text-align: left;
    font-size: .8rem;
  }
}

.post-item {
  margin-bottom: 3rem;
}

section.player {
  max-width: 770px;
}

section.intro {
  font-size: 0.8rem;
  line-height: 1.5rem;

  .guest{
    justify-content: center;
    margin-top: 2rem;

  }
}

section.links {
  padding-top: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

section.image-copyrights {
  font-size: 0.8rem;
  text-align: center;
}
