$brown: #b0845b;

$grey: #b5b5b5;
$grey-light: #fafafa;
$grey-dark: #808080;

@mixin imageborder() {
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
