---
layout: default
---
<section >
    <div class="post row">
        <div class="content col-xs-12 center-xs">
            <div class="metainfo">{{ page.date | date: "%B %e, %Y" }} · EPISODE {{ page.number }}</div>
            <h2><a href="{{ page.url }}">{{ page.number | prepend: '000' | slice: -3, 3 }}: {{page.title}}</a></h2>
        </div>
    </div>
</section>

<section class="player">
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" 
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.trackId }}&color=%2379665c&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false"></iframe>
</section>

<section class="intro">
    {{ page.intro }}
</section>

<section class="links">
    <h3>Resources:</h3>
    <ul>
    {% for link in page.links %} 
        <li><a href="{{ link.href }}" target="_blank">{{ link.title }}</a></li>
    {% endfor %}
    </ul>
</section>

{% if page.imageCopyright %} 
<section class="image-copyrights">
    <span>👏</span> 
    <b>Thanks, to {{page.imageCopyright.author}} for the <a href="{{page.imageCopyright.photoLink}}">photo</a> of this episode!</b></div>
    <span>(<a href="{{page.imageCopyright.licenseLink}}">License</a>)</span>
</section>
{% endif %}

<section>
        <div id="disqus_thread"></div>
        <script>
        
        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.disqus-identifier | default: page.url }}";
            this.page.identifier = "{{ page.disqus-identifier | default: page.id }}";
        };
        
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://developermelange.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>